$primary: #13b0a7;
$light-grey: #f6f7fc;
$medium-grey: #4c5366;
$secondary: #ff675a;
$dark: #272c38;
$error: red;
$success: rgb(0, 199, 0);

$mobile: "480px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
$widescreen: "1440px";
